*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header
{
    display: flex;
    justify-content: space-between;
}

.menus
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.menu a
{
    text-decoration: none;
    color: #000;
}

/* MAIN ILLUSTRATION */
#main-image
{
    background: url("images/background_image.jpg") no-repeat fixed center;
    height: 456px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-content img
{
    width: 200px;
    height: 60px;
}

h1
{
    color: #fff;
    font-weight: 400;
    font-size: 28px;
}

/* MAIN MERKETING */
h2
{
    text-align: center;
    font-weight: 400;
}

.slogan
{
    margin: 40px auto;
    padding: 30px auto;
}

.activities
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.activity
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.activity img
{
    height: 68px;
    width: 68px;
    margin: 2px 0;
}

h3
{
    font-size: 20px;
    font-weight: 200px;
    text-transform: uppercase;
    margin: 2px 0;
}

.activity p
{
    font-size: 15px;
    margin: 2px 25px;
}

.quote
{
    margin: 60px auto 20px auto;
}

.quote p
{
    margin: 3px auto 3px auto;
    text-align: center;
}

/* FOOTER */
footer
{
    background-color: #5b359d;
    padding-top: 25px;
    padding-bottom: 32px;
}

h4
{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 16px auto;
}

.social-network-icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.social-network-icon i
{
    font-size: 25px;
    margin: auto 40px;
    color: #bdaed8;
}

.links
{
    display: flex;
    justify-content: center;
}

.link
{
    margin: auto 110px;
    margin-top: 36px;
}

h5
{
    color: #bdaed8;
    font-weight: 700;
    font-size: 16px;
}

.link ul
{
    padding: 8px 0 8px 36px;
    color: #fff;
}

.link ul li a
{
    text-decoration: none;
    color: #fff;
}

.contact ul li
{
    list-style-type: none;
}